
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
/startbootstrap-bare-gh-pages/
/.idea/workspace.xml
/uploads/
###< symfony/framework-bundle ###
