<!DOCTYPE html>
<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="index.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <!------ Include the above in your HEAD tag ---------->
    <title>Sign up/Login Form</title>
    <h1><a href="posts.php">Guestbook</a></h1>
</head>
<script src="index.js"></script>
<body>

<div class="form-wrap">
    <div class="tabs">
        <h3 class="signup-tab"><a class="active" href="#signup-tab-content">Sign Up</a></h3>
        <h3 class="login-tab"><a href="#login-tab-content">Login</a></h3>
    </div>  <!--.tabs-->

    <div class="tabs-content">
        <div id="login-tab-content">
            {% if is_login and email_exist and correct_pw == false %}
            <div class="alert alert-danger" role="alert">
                You have entered wrong password, try again!
            </div>
            {% elseif is_login and email_exist == false %}
            <div class="alert alert-danger" role="alert">
                User with that email doesn't exist!
            </div>
            {% endif %}
            <form class="login-form" action="index.php" method="post">
                <input type="text" class="input" name="email" id="user_login" autocomplete="off"
                       placeholder="Email" required>
                <input type="password" class="input" name="password" id="user_pass" autocomplete="off"
                       placeholder="Password" required>
                <button type="submit" class="button button-block" name="login"/>Login</button>
            </form>
        </div> <!-- login id -->


        <div id="signup-tab-content"  class="active">
            {% if is_register and email_exist and register_success == false %}
                <div class="alert alert-danger" role="alert">
                    User with this email already exists!
                </div>
            {% elseif is_register and register_success %}
                <div class="alert alert-success" role="alert">
                    Your account has been created!
                </div>
            {% elseif is_register and register_success == false %}
                <div class="alert alert-danger" role="alert">
                    Registration failed!
                </div>

            {% endif %}

            <form class="signup-form" action="index.php" method="post">
                <input type="email" class="input" name="email" id="user_email" autocomplete="off"
                       placeholder="Email" value="{{ email }}" required>
                <input type="text" class="input" name="first_name" id="user_fname" autocomplete="off"
                       placeholder="First Name" value="{{ f_name }}" required>
                <input type="text" class="input" name="last_name" id="user_lname" autocomplete="off"
                       placeholder="Last Name" value="{{ l_name }}" required>
                <input type="password" class="input" name="password" id="user_pass" autocomplete="off"
                       placeholder="Password" required>
                <button type="submit" class="button button-block" name="register">Register</button>
            </form>
        </div>  <!-- signup id -->
    </div>  <!-- tab-content -->
</div>  <!-- form wrap -->
</body>
</html>